<% content_for(:title) do %>
  New document
<% end %>

<nav class="govuk-breadcrumbs" aria-label="Breadcrumb">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <%= link_to "Home", documents_path, class: "govuk-breadcrumbs__link" %>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      New document
    </li>
  </ol>
</nav>

<h2 class="govuk-heading-m">
  New document
</h2>

<% if flash[:errors].present? %>
  <div class="govuk-error-summary" data-module="govuk-error-summary">
    <div role="alert">
      <h2 class="govuk-error-summary__title">
        There is a problem
      </h2>
      <div class="govuk-error-summary__body">
        <ul class="govuk-list govuk-error-summary__list">
          <% flash[:errors].each do |error| %>
            <li>
              <%= error %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
<% end %>

<%= form_for @document do |form| %>
  <div class="govuk-form-group">
    <label class="govuk-label" for="document-title">
      Enter the title of the document
    </label>
    <%= form.text_field :title, id: "document-title", class: "govuk-input" %>
  </div>

  <div class="govuk-form-group">
    <label class="govuk-label" for="document-body">
      Enter the body of the document
    </label>
    <%= form.textarea :body, id: "document-body", cols: '100', rows: '20', class: "govuk-textarea" %>
  </div>

  <div>
    <%= form.submit 'Suggest tags', class: "govuk-button", data: { module: "govuk-button" } %>
  </div>
<% end %>
