<h1>
  New document
</h1>

<% if flash[:alert] %>
  <p><%= flash[:alert] %></p>
<% end %>

<%= form_for @document do |form| %>
  <div>
    <%= form.text_field :title %>
  </div>
  <div>
    <%= form.textarea :body, cols: '100', rows: '25' %>
  </div>
  <div>
    <%= form.submit 'Suggest tags!' %>
  </div>
<% end %>
