<% content_for(:title) do %>
  <%= @document.title %>
<% end %>

<nav class="govuk-breadcrumbs" aria-label="Breadcrumb">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <%= link_to "Home", documents_path, class: "govuk-breadcrumbs__link" %>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <%= @document.title %>
    </li>
  </ol>
</nav>

<h2 class="govuk-heading-m">
  <%= @document.title %>
</h2>

<% if @document.govuk_url.present? %>
  <p class="govuk-body">
    <%= link_to "View document on GOV.UK (opens in new tab)", @document.govuk_url, class: "govuk-link", rel: "noreferrer noopener", target: "_blank" %>
  </p>
<% end %>

<h3 class="govuk-heading-s">Taxons</h3>

<% if @document.taxons.any? %>
  <ol class="govuk-list govuk-list--number">
    <% @document.taxons.each do |taxon| %>
      <% taxon = Taxon.find_by(base_path: taxon['base_path']) %>
      <li><%= render partial: 'taxons', locals: { taxon: } %></li>
    <% end %>
  </ol>
<% else %>
  <p class="govuk-body">The document has no taxons.</p>
<% end %>

<h3 class="govuk-heading-s">Suggested taxons</h3>

<% if @suggested_taxons.any? %>
  <ol class="govuk-list govuk-list--number">
    <% @suggested_taxons.each do |title, taxons| %>
      <% taxon = Taxon.find_by(base_path: taxons.first['base_path']) %>
      <li><%= render partial: 'taxons', locals: { taxon: } %></li>
    <% end %>
  </ol>
<% else %>
  <p class="govuk-body">There are no other suitable taxons.</p>
<% end %>

<h3 class="govuk-heading-s">Similar documents</h3>
<p class="govuk-body">These are the 5 documents most similar to the source document, from which we've derived the suggested taxons above.</p>

<ol class="govuk-list govuk-list--number">
  <% @similar_documents.each do |document| %>
    <li><%= link_to document.title, document_path(document), class: "govuk-link" %></li>
  <% end %>
</ol>
