<h1>
  <% if @document.govuk_url.present? %>
    <%= link_to @document.title, @document.govuk_url %>
  <% else %>
    <%= @document.title %>
  <% end %>
</h1>

<h2>Taxons</h2>

<% if @document.taxons.any? %>
  <ol>
    <% @document.taxons.each do |taxon| %>
      <li><%= taxon['title'] %></li>
    <% end %>
  </ol>
<% else %>
  <p>The document has no taxons.</p>
<% end %>

<h2>Similar documents</h2>

<ol>
  <% @similar_documents.each do |document| %>
    <li><%= link_to document.title, document_path(document) %></li>
  <% end %>
</ol>

<h2>Suggested taxons</h2>

<ol>
  <% @suggested_taxons.each do |title, taxons| %>
    <li><%= title %> (<%= taxons.length %>)</li>
  <% end %>
</ol>
